* {
    box-sizing: border-box;
}

body {
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

#app {
    border: 2px solid green;
    height: 500px;
    width: 900px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

main {
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    gap: 20px;
}

.home-options {
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
}

p {
    margin: 0;
}

#wrapper {
    border: 2px solid red;
    height: 463px;
}

#internet-contents-wrapper-element {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 55px;
}

.sub-options {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: bold;
}